In [24]:
import requests
import pandas as pd
import numpy as np

# Acquiring the Data
The following files were downloaded manually from the FEC website. The datasets will be used to analyze where the individual contributions were coming from for both candidates.

In [16]:
ryan = pd.read_excel('ryan.xlsx')
vance = pd.read_excel('vance.xlsx')

In [23]:
ryan.iloc[:, 12]

0            PO Box 382110
1        4752 Constance Dr
2            PO Box 382110
3        1142 Woodbine Ave
4            PO Box 382110
               ...
79553           Washington
79554           Montgomery
79555              Phoenix
79556              Phoenix
79557                  NaN
Name: 10860 Patowmack Dr, Length: 79558, dtype: object

In [48]:
columns_list = ['Last', 'First', 'Address', 'State', 'Amount', 'Total']

In [54]:
ryan_all = pd.DataFrame(ryan.iloc[: ,[7, 8, 12, 15, 20, 21]])
ryan_all.columns = columns_list
ryan_all['Name'] = ryan_summary['First'] + ' ' + ryan_summary['Last']
ryan_all.head()

,Last,First,Address,State,Amount,Total,Name
0,NaN,NaN,PO Box 382110,MA,250.0,7989448.90,NaN
1,Aarons,Ellen,4752 Constance Dr,CA,50.0,439.29,Ellen Aarons
2,NaN,NaN,PO Box 382110,MA,50.0,7989448.90,NaN
3,Abarbanel,Eliot,1142 Woodbine Ave,IL,100.0,400.00,Eliot Abarbanel
4,NaN,NaN,PO Box 382110,MA,100.0,7989448.90,NaN

In [53]:
vance_all = pd.DataFrame(vance.iloc[: ,[7, 8, 12, 15, 20, 21]])
vance_all.columns = columns_list
vance_all['Name'] = str(vance_summary['First']) + ' ' + str(vance_summary['Last'])
vance_all.head()

,Last,First,Address,State,Amount,Total,Name
0,WOLF,JEANNE,1330 MOONMIST DR,FL,2900.0,2900.0,0 JEANNE\n1 STEPHEN\n2 ...
1,WOLF,STEPHEN,1330 MOONMIST DR,FL,-2900.0,5800.0,0 JEANNE\n1 STEPHEN\n2 ...
2,PECK,JOHN,5940 WATSON AVE,TX,5000.0,5800.0,0 JEANNE\n1 STEPHEN\n2 ...
3,PECK,JOHN,5940 WATSON AVE,TX,-2100.0,5800.0,0 JEANNE\n1 STEPHEN\n2 ...
4,PECK,VERA,5940 WATSON AVE,TX,2900.0,2900.0,0 JEANNE\n1 STEPHEN\n2 ...

The structure of the data is a little poor, but the addition of the name will be used as a unique identifier to sum the contributions and create a visualization.